header{
    text-align: center;
}

img{
    height: 350px;
    width: 50%;
    border-radius: 5%;
    box-shadow: cornflowerblue;
}

h1{
    color: #7788a8;
    font-size:30pt;
}

#theme{
    float: right;;
}

