div{
    width:400px;
    height: 400px;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#red{
    background-color: red;
}

#green{
    background-color:green;
}

@media screen and (max-width:800px){
    div{
        display:block;
    }        
}