div{
    background-color: red;
    height: 200px;
    width: 200px;
    transition: .4s all;
    color: white;
    font-size: 30px;
}

#rotate:hover{ transform: rotate(360deg);}

#traslation:hover{ transform: translate(100px);}